body {
  font-family: 'Helvetica Neue', 'Nimbus Sans', Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

h1, h2, h3, p {
  margin: 0;
}

.map-container {
  flex: 2;
  border: 0.35rem solid #009966;
}

#map {
  height: 100%;
  width: 100%;
}
.event-item img {

    display: none;

}
.leaflet-popup-content-wrapper {
  border: 0.25rem #009966 solid;
  border-radius: 0;
  box-shadow: 0 0 0 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0.25rem;
  margin-right: 1.5rem;
}

.leaflet-popup-content-wrapper .leaflet-popup-content p {
  margin: 0;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-close-button {
  color: #009966 !important;
}
.leaflet-popup-close-button:hover {
  opacity: 0.5;
}

.info-container {
  flex: 1;
  padding: 1rem;
  max-height: 100%;
  overflow-y: scroll;
}

.event-item {
  border: 0.25rem #333 solid;
  padding: 0.25rem;
  margin: 0.25rem 0;
}

.event-item > .event-description {
  font-size: 0.8rem;
}

.event-description a, .info-container a {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  background-color: #009966;
  color: white;
  padding: 1px 2px 0px 2px;
  border: 1px #009966 solid;
}

.event-description a:hover {
  background-color: white;
  color: #009966;
}

.footer {
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

@media screen and (max-width: 1080px) and (min-resolution: 3dppx), screen and (max-width: 960px) {
  body {
    flex-wrap: wrap;
    height: auto;
  }
  body > * {
    flex: 1 1 100% !important;
    width: 100%;
  }
  .map-container {
    height: 60vh;
  }
}
